body {
  position: relative;
  width: 100%;  
}

#grad {
  background-image: linear-gradient(to right, pink , darkblue);
}

.content {
  position: relative;
  display: block;
  max-width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  color: navy;
  margin-left: 20px;
}

.lora-body {
  font-family: "Lora", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.red-header {

}
