/* Laura Van den End - March 30, 2025 - My Life As A Moth - Style file */

body {
  position: relative;
  width: 100%;
}

#grad {
  background-image: linear-gradient(to right, pink , darkblue);
}

#regular-bg {
  background-color: rgb(255, 255, 237);
}

#first-page {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  width: 600px;
}

#second-page {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  width: 800px;
}

.text-block {
  text-align: center;
}

h1 {
  color: navy;
  margin-left: 20px;
}

li {
  #brown {
    color: brown;
  }
  #beige {
    color: beige;
  }
  #pink {
    color: pink
  }
}

.lora-body {
  font-family: "Lora", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

p.hi-liner {
  line-height: 30px; 
}
