
#grad {
  width: "800px";
  margin: "0 auto";
  background-image: linear-gradient(to right, pink , darkblue);
  font-family: "Lora", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

h1 {
  color: navy;
  margin-left: 20px;
}

.lora-body {
  width: "800px";
  margin: "0 auto";
  font-family: "Lora", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.red-header {

}
